@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #242426;
    --milkwhite: #F2F2F2;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--milkwhite);
    color: var(--black);
    counter-reset: section;
}
nav {
    position: relative;
    z-index: 9999;
}
button, a{
    all: unset;
}
section {
    margin: 3em 0;
    max-width: 17em;
}

*[data-version="desktop"] {
    display: none;
}

.flex {
    display: flex;
}
.top {
    position: relative;
    top: 0;
}
.bottom {
    position: relative;
    bottom: 0;
}
.fixed {
    position: fixed;
}
.sticky {
    position: sticky;
}
.round {
    border-radius: 2em;
}
.end {
    justify-content: flex-end !important;
}

/* navbar */

.sm-nav {
    background-color: var(--milkwhite);
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
}
.btn-dark {
    background-color: var(--black);
    color: white;
    font-weight: 300;
}
.btn-light {
    background-color: transparent;
    outline: 1px solid var(--black);
    outline-offset: -1px;
}
.btn-light, .btn-dark {
    padding: 0.875rem 1.75rem;
}
.btn-white, .btn-light, .btn-dark {
    font-size: 0.75rem;
}

/* nav admin */ 

.nav-admin {
    width: 100%;
    justify-content: center;
}
.nav-admin-list {
    width: 12em;
    padding: 1em;
    justify-content: space-between;
    background-color: #e7e7e7;
    border-radius: 2em 2em 0 0;
}
.nav-admin-item {
    width: 3em;
    height: 3em;
    /* aspect-ratio: 1; */
    background-color: var(--black);
    align-items: center;
    justify-content: center;
}
.nav-admin-item img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(17%) saturate(0%) hue-rotate(91deg) brightness(104%) contrast(104%);
}

/* Main */

article {
    padding: 1em;
}
header {
    margin: 1em 0;
}
hr {
    border-top: 2px solid var(--black);
    height: 1px;
    width: 100%;
}
.main {
    justify-content: center;
}
.title-holder {
    margin: 0.5em 0;
}
.logo {
    align-items: center;
    justify-content: center;
}
.logo img {
    object-fit:cover;
    width: 5em;
}
.line {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
.line::before {
    counter-increment: section;
    content: "0" counter(section);
    display: inline-block;
    vertical-align: middle;
    margin-inline-end: 0.5em;
    font-family: 'Racing Sans One', sans-serif;
    font-size: 2rem;
    line-height: 0.5;
}
.title {
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900;
    font-size: 4em;
    line-height: 4rem;
}
.tags {
    flex-direction: row;
    width: 100%;
}
.tag {
    font-family: 'Orbitron', sans-serif;
    font-size: 0.625rem;
    padding: 0 0.25em;
}
.tag::before {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 10px;
    margin-inline-end: 0.25em;
}
.tag:first-child::before {
    all: unset;
}
.img-xl {
    height: 25em;
    overflow: hidden;
}
.img-xl img {
    object-fit: cover;
    width: 100%;
}

/* dropdown */

.dropdown-content {
    position: relative;
    height: auto;
}
.dropdown {
    align-items: center;
    width: 2.5rem;
    justify-content: space-between;
}
.dropdown svg {
    transition: 0.5s;
}
.dropdown svg path{
    stroke-width: 1.25;
}

/* table info */

.table-info {
    align-items: center;
    justify-content: space-between;
    margin: 1em 0 0 0;
}
.info p{
    text-transform: uppercase;
    font-style: italic;
    font-weight: 800;
    font-size: 1.25rem;
}
.info span, .dropdown {
    font-size: 0.8rem;
}
.info span {
    padding: 0 0.75em 0 0;
    line-height: 1;
}

/* table */

.trackday-table {
    font-size: 0.6rem;
    border-collapse: collapse;
    margin: 1em 0;
}
.trackday-table th {
    text-align: left;
    background-color: var(--black);
    color: white;
    font-weight: 300;
}
.trackday-table th, .trackday-table td {
    padding: 0.875em 0 0.875em 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.group {
    text-align: center;
    padding: 0.5em 1em !important;
}

.trackday-table tr td:first-child {
    width: 7em;
    max-width: 7em;
}

.trackday-table tr td:nth-child(2){
    width: 9em;
    max-width: 9em;
}
.trackday-table tr td:nth-child(3) {
    width: 9em;
    max-width: 9em;
}
.trackday-table tr td:nth-child(5) {
    width: 3em;
    max-width: 3em;
    padding: 0;
}
.trackday-table tr td .img {
    justify-content: center;
    align-items: center;
}
.trackday-table img {
    width: 1.25em;
}

/* clock */

.clock-holder {
    width: 100%;
    align-items: center;
    justify-content: center;
}
.clock {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.25rem;
    background-color: var(--black);
    color: white;
    padding: 0.75em 0;
    width: 6.5em;
    margin: 0.5em 0;
    text-align: center;
    padding: auto;
}

/* admin panel */

.window-center {
    height: 100vh;
    width: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* form */

input[type=number], input[type="text"], input[type="password"] {
    max-width: 100%;
    margin: 0.25em 0;
    padding: 0.5em 0.75em;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 1em;
}  
.clock-form {
    margin: 1em 0;
}
.form-items-holder {
    justify-content: center;
    width: 15em;
}
.form-items {
    flex-direction: column;
    width: 100%;
}
.form-items p {
    font-size: 0.75em ;
}
.form-btns, .form-items p {
    margin: 0.5em 0;
}
.form-btns {
    justify-content: space-between;
    width: 100%;
}
.form-btns[data-typehold=button]{
    margin-block-start: 1.3em;
}
.form-btn {
    all: unset;
    background-color: var(--black);
    color: white;
    font-weight: 300;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    border-radius: 5px;
}
.form-inputs {
    flex-direction: column;
}
.delete {
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* Login */

.login-info p{
    width: 100%;
    font-size: 2rem;
    text-align: right;
}